{% extends "layout.html" %}

{% block content %}
    <div class="text" style="padding: 2% 5% 5% 5%">
        Первая группа растений: Томат, огурец, капуста, тыква, кабачки, ревень, сельдерей, лук-порей.<br>
        Вторая группа: Пряные травы, спаржа, салат, кольраби.<br>
        Третья группа: Все бобовые.<br>
        Группы необходимо чередовать по порядку: 3-1-2-3-...<br>
        В таком цикле сводится к минимуму накопение вредителей и болезнетворных микроорганизмов в почве, и по максимуму будут использоваться питательные свойства почвы.
        Стадии: Семя, Всход, Взрослое растение, Цветение, Плодоношение.

    </div>
{% endblock %}