{% extends "layout.html" %}

{% block content %}

<div class="monitoring">
    <div class="monitoring-navigate">
        <div class="row">
            <div class="monitoring-navigate-element-empty"></div>
            <div class="monitoring-navigate-element">
                <a href="/monitor/water/"{% if action == 'water' %}style="color:#2D3C7A; font-weight: bold"{% endif %}>Полив</a>
            </div>
            <div class="monitoring-navigate-element">
                <a href="/monitor/light/"{% if action == 'light' %}style="color:#2D3C7A; font-weight: bold"{% endif %}>Освещение</a>
            </div>
            <div class="monitoring-navigate-element">
                <a href="/monitor/heat/"{% if action == 'heat' %}style="color:#2D3C7A; font-weight: bold"{% endif %}>Отопление</a>
            </div>
            <div class="monitoring-navigate-element">
                <a href="/monitor/cold/"{% if action == 'cold' %}style="color:#2D3C7A; font-weight: bold"{% endif %}>Охлаждение</a>
            </div>
            <div class="monitoring-navigate-element-empty"></div>
        </div>
    </div>
    <table class="monitoring-table">
        {% if action == 'water' %}
            <tr>
                <th>Группа</th><th>Объем</th><th>Дата и время</th>
            </tr>
            {% for water in waters %}
                <tr>
                    <td>{{ water.group }}</td><td>{{ water.volume }} л</td><td>{{ water.date }}</td>
                </tr>
            {% endfor %}
        {% elif action == 'light' %}
            <tr>
                <th style="width:22.5%">Группа</th><th style="width:22.5%">Мощность</th><th style="width:22.5%">Дата и время включения</th><th style="width:22.5%">Дата и время включения</th>
            </tr>
            {% for light in lights %}
                <tr>
                    <td style="width:22.5%">{{ light.group }}</td><td style="width:22.5%">{{ light.power }}</td><td style="width:22.5%">{{ light.date_start }}</td><td style="width:22.5%">{{ light.date_end }}</td>
                </tr>
            {% endfor %}
        {% elif action == 'heat' %}
            <tr>
                <th>Группа</th><th>Мощность</th><th>Дата</th>
            </tr>
            {% for heat in heats %}
                <tr>
                    <td>{{ heat.group }}</td><td>{{ heat.power }}</td><td>{{ heat.date }}</td>
                </tr>
            {% endfor %}
        {% elif action == 'cold' %}
            <tr>
                <th>Группа</th><th>Продолжительность</th><th>Дата и время</th>
            </tr>
            {% for cold in colds %}
                <tr>
                    <td>{{ cold.group }}</td><td>{{ cold.time }} мин</td><td>{{ cold.date }}</td>
                </tr>
            {% endfor %}
        {% endif %}

    </table>
</div>

<div class="time-bar">
    Текущее время: <span id="time"></span> | Текущая температура: {{ temperature }}&#8451;
</div>
			
{% endblock %}